*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body *{
    font-family: "Roboto", sans-serif;
}

body{
     background: url(amarelo.png) no-repeat top center/cover;
}

#caixaim{
    width: 350px;
    margin: 50px auto 0px;
}

#logo {
    text-align: center;
}

#logo img {
    width: 110px;
}

#logo p {
    font-weight: 500px;
    line-height: 24px;
}

ul{
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 17px;
}

ul li a {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    padding: 15px 22px;

    background: rgba(228, 228, 105, 0.562);
}